@layout("/common/_container.html"){
<div class="ibox float-e-margins">
    <div class="ibox-content">
        <div class="form-horizontal">

            <div class="row">
                <div class="col-sm-6 b-r">
                            <#input id="Id" name="ID" value="${item.Id}" underline="true" disabled="disabled"/>
                            <#input id="code" name="班次编码" value="${item.code}" underline="true"/>
                            <#input id="name" name="班次名称" value="${item.name}" underline="true"/>


                </div>

                <div class="col-sm-6">
                            <#input id="begintime" name="上班时间" value="${item.begintime}" />
                            <#input id="endtime" name="下班时间" value="${item.endtime}" />
                            <#input id="note" name="" value="${item.note}" underline="true"/>
                </div>
            </div>

            <div class="row btn-group-m-t">
                <div class="col-sm-10">
                    <#button btnCss="info" name="提交" id="ensure" icon="fa-check" clickFun="ClassesInfoDlg.editSubmit()"/>
                    <#button btnCss="danger" name="取消" id="cancel" icon="fa-eraser" clickFun="ClassesInfoDlg.close()"/>
                </div>
            </div>
        </div>

    </div>
</div>
<script src="${ctxPath}/static/modular/system/classes/classes_info.js"></script>
@}
